/DesktopApp440/.idea/
/DesktopApp440/target/
!.mvn/wrapper/maven-wrapper.jar
!**/DesktopApp440/src/main/**/target/
!**/DesktopApp440/src/test/**/target/

### IntelliJ IDEA ###
/DesktopApp440/.idea/modules.xml
/DesktopApp440/.idea/jarRepositories.xml
/DesktopApp440/.idea/compiler.xml
/DesktopApp440/.idea/libraries/
/DesktopApp440/*.iws
/DesktopApp440/*.iml
/DesktopApp440/*.ipr

### VS Code ###
.vscode/
